.SidebarContainer {
  min-height: 100vh;
  background-color: #0c365f;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;

  li {
    list-style-type: none;
    .Link {
      color: white;
      text-decoration: none;
    }
  }
}
