.OuterModalContainer {
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(199, 198, 198, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .InnerContainer {
    padding: 8rem;
    width: 8rem;
    height: 10rem;
    border-radius: 0.5rem;
    background-color: rgb(177, 182, 182);
    // background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      span {
        font-size: 2rem;
      }
      .ModalButtons {
        display: flex;
        gap: 1rem;
        button {
          padding: 0.5rem;
          border-radius: 0.5rem;
          border: none;
          cursor: pointer;
          &:active {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
