.ProductsContainer {
  .AddButtonContainer {
    display: flex;
    justify-content: flex-end;
  }
  .SearchFeatures {
    display: flex;
  }
  .ProductList {
  }
  .ModalView {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .ModalContent {
    // padding: 4rem;
    position: absolute;
    // position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4px;

    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    .DeleteModal {
      padding: 4rem;
      display: flex;
      flex-direction: column;
    }
  }

  .CloseForm {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
