.FormContainer {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .Form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
    // border: 1px solid;
    .InputList {
      display: flex;
      flex-direction: column;
      width: 20rem;
      gap: 2rem;
      .InputContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;

        .Input {
          flex: 1;
          padding: 0.5rem 0;
          border: none;
          outline: none;
          //   border-radius: 0.5rem;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #ccc;
          &:focus {
            border-color: rgb(186, 120, 248);
          }
        }
      }
    }
    .Login {
      flex: 1;
      padding: 0.5rem;
      border: none;
      border-radius: 0.3rem;
      background-color: #4398f3;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover {
        background-color: #4389f3;
      }
    }
  }
}
